*{  
    
    margin: 0;
    padding: 0;
}
.body{
    font-family: sans-serif;
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.bg{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 200px;
    background-color: transparent;
    color:rgb(0, 0, 0);
    }
a{
    color: black;
    text-decoration: none;
    }
a:hover{
    text-decoration: underline;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.background{
    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size:cover;
}
.container{
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    align-items: center;
    border: 3dvh;
    border-radius: 10px;
    box-shadow: 100px 100px 100px 100px rgba(5, 5, 5, 0.301);
    box-shadow: color black;
    gap: 10px;
    padding: 0px;
    background-color: rgba(132, 190, 223, 0.404);
    padding: 20px;
    margin: 15px;
}
@media (min-aspect-ratio:16/9){
    .background{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .background{
        width: auto;
        height: 100%;
    }
}
.login{
    color: #030630;
    font-size:2.0rem;
    font-weight: 600;
    padding: 5px;
}
.input-fields{
    width: 400px;
    height: 30px;
    position: relative;
    background: transparent;
    font-family: inherit;
    font-size: 16px;
    padding-left: px;
    font-weight: 500;
    color: rgba(0,0,0,0.5);    
    
}
.mail{
    
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
}
::placeholder{
    color: #030630;
    font-weight: 500;
}
input#fn{
    background-color: transparent;
    height: 35px;
    width: 170px;
    font-size: 15px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #030630;
}
input#ln{
    background-color: transparent;
    height: 35px;
    width: 170px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #030630;
    font-size: 15px;
}
input#email{
    background-color: transparent;
    height: 35px;
    width: 360px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #030630;
    font-size: 15px;
    line-height: 16px;
}
input#pass{
    background-color: transparent;
    height: 35px;
    width: 360px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #030630;
    font-size: 15px;
    line-height: 16px;
}
input#dateOfBirth{
    background-color: transparent;
    height: 35px;
    width: 360px;
    border-radius: 4px;
    padding-left: 15px;
    text-align: left;
    font-size: larger;
    border: 1px solid #030630;
    color: #030630;
}
p{
    color: #030630;
    font-size: large;
    margin-bottom: 7px;
}
.signup{
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
}
.date-of-birth{
    border-radius: 4px;
    color: #030630;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    padding: 10px 10px 10px 0px;
}
.gender{
    color: #030630;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    height: 40px;
    width: 400px;
    padding-left: 35px;
    padding-top: 2%;   
}
button#signup.signup{
    margin-top: 0px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 15px;
    color: #030630;
    

}
.signup-form{
    width: 370px;
    height: 200px;
    
}
h4{
    font-size: larger;
    padding-bottom: 10px;
    color: #030630;

}
label{
    font-size: large;
    padding-bottom: 10px;
}
.font{
    margin-top: 20px;
    font-family: 'SFProText-Medium, Helvetica, Arial, sans-serif';
    font-size: larger;
    align-self: first baseline;
    padding-left: 17px;
    color: #030630;
}
.txt{
    color: #030630;
    font-size: larger;  
    margin-top: -10px;
}
.sex{
    font-family: 'SFProText-Medium, Helvetica, Arial, sans-serif';
    display: inline;
    padding: 0px 38px 5px 10px;
    height: 60px;
    width: 130px;
    border-radius: 3px;
    border: 1px solid #030630;
    font-size: 25px;
    margin-right: 5px; 
    
}
input#sex.gender{
    float: right;
}
label.date-of-birth{
    padding-bottom: 10px;
}
header{
    color: #fff;
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(8px);
    text-align: center;
    padding-top: 20px;
    font-size: larger;  
}
nav{
    background-color: transparent;
    backdrop-filter: blur(8px);
    text-align: center;
    height: 40px;
    padding: 20px 0 0 0;
    background-color: rgba(132, 190, 223, 0.226);
    
}
nav a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: larger;
    margin: 0 10px;
}
nav a:hover{
    text-decoration: underline;
}
footer{
    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(4px);
    text-align: center;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
    font-size: larger;
}
