@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
:root{
    --bg-color:#ffd1dc;
    --second-bg-color:#ff69b4;
    --text-color:#333;
    --heading-text-color:#ff1493;
    --main-color:#f0f0f0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .7);
}
.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--main-color);
    margin-left: 4rem;
}
.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10% 9rem 2rem;
}
.home-img img{
    height: 70vh;
    border-radius: 50%;
    animation: floatimage 4s ease-in-out infinite;
    box-shadow: 0 0 20px 10px rgba(255, 105, 180, 0.7);
    filter: drop-shadow(0 0 10px rgba(255, 105, 180, 0.8));
}
@keyframes floatimage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: rgb(51, 37, 37);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--heading-text-color);
}
.home-content p{
    font-size: 1.6rem;
}
.heading span{
    color: var(--heading-text-color);
}
.heading{
    display: flex;
    font-size: 4.3rem;
    font-weight: 700;
    gap: 1rem;
}
.heading2{
    display: flex;
    justify-content: center;
    font-size: 4.3rem;
    font-weight: 700;
    gap: 1rem;
}
.memories-img img{
    height: 70vh;
    border-radius: 1.5rem;
}
.memories-container{
    margin-top: 7%;
}
.memories-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.heading2 span{
    color: var(--heading-text-color);
}
.memories-content p{
    margin-top: 2rem;
}

.memories-content h3{
    font-size: 3.2rem;
}
.memories-content p{
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 600;
}
.memories-content h3 span{
    color: var(--heading-text-color);
}
.wishes-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4rem;
    color: var(--heading-text-color);
}
.wishes-container p{
    font-size: 1.6rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--second-bg-color);
}
.footer-text{
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: 500;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--text-color);
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--heading-text-color);
    font-weight: 700;
}
@media(max-width:1027px){
    html{
        font-size: 60%;
    }
    .home h1{
        font-size: 4.2rem;
    }
    .home-img img{
        height: 45vh;
    }
    .memories-content{
        width: 80vw;
    }
    .memories-content span{
        gap: 1rem;
    }
    .memories-img img{
        width: 100%;
        height: 100%;
    }
}
@media(max-width:770px){
    .home-img img{
        height: 40vh;
    }
    .home{
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 6rem;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .memories-img img{
        width: 100%;
        height: 100%;
        transition: .5s ease;
    }
    .memories-img img:hover {
        transform: scale(1.1);
    }
    .memories-container .memories-img{
        position: relative;
        border-radius: 6rem;
        box-shadow: 0 0 1rem var(--text-color);
        overflow: hidden;
        display: flex;
        width: 100%;
    }
    .memories-img .memories-content{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 0 4rem;
        transform: translateY(100%);
        transition: .5s ease;
    } 
    .memories-img:hover .memories-content{
        transform: translateY(0);
    }
    .memories-content h3{
        font-size: 5rem;
    }
    .memories-content p{
        font-size: 2.6rem;
        margin: .3rem 0 1rem;
    }
    
    
}      
@media(max-width:580px){
    html{
        font-size: 40%;
    }
    .home-img img{
        height: 40vh;
    }
    .home-content h1{
        font-size: 3.2rem;
    }
}
@media(max-width:426px){
    html{
        font-size: 50%;
    }
    .home{
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 6rem;
    }
    .home-img img{
        height: 50vh;
    }
    .memories-content h3{
        font-size: 3.5rem;
    }
    .memories-content p{
        padding-top: 1rem;
        font-size: 1.8rem;
        margin: .1rem 0 .5rem;
    }
    section{
        padding: 0 2rem;
    }
    .wishes-content{
        padding-top:8rem;
    }
    .heading2{
        padding-top: 8rem;
    }
}
@media(max-width:376px){
    html{
        font-size: 48%;
    }
}