@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family: 'roboto', sans-serif;
}
:root{
    --bg-color: #fdfdfd;
    --text-color: rgba(36, 58, 116);
    --main-color: rgb(27, 34, 141);
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
.dark-mode{
    --bg-color: #0b061f;
    --text-color: #fafafa;
    --shadow-color: rgba(0, 0, 0, .7);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    z-index: 100;
    transition: 5s;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .7);
}
#menu{
    font-size: 3.8rem;
    color: var(--main-color);
    display: none;
}
#darkMode-icon{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text-color);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-right: 3.5rem;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home{
    display: flex;
    align-items: center;
}
.home .home-content{
    max-width: 70rem;
    padding-bottom: 20rem;
}
.home-content h3{
    font-size: 3rem;
    font-weight: 700;
    line-height: .3;
}
.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    
}
.home-content p{
    font-size: 1.6rem;
}
.home-content h3 span{
    color: rgb(13, 142, 216);
}
.home-content h3{
    line-height: 10rem;
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 7rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s;
    
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.btn2{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: transparent;
    border-radius: 7rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
    border-color: var(--main-color);
}
.btn2:hover{
    background: var(--main-color);
    color: var(--white-color);
}
span{
    color: #fdfdfd;
}
.image{
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: right;
}
.image img{
    padding-left:5rem;
}
.search{
    position: absolute;
    top: 60%;
    width: 25%;
}
.search-input {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px ;
    height: 4rem;
}
.search-button {
    padding: 10px 20px;
    background-color: var(--main-color); 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    left:55%;
    height: 4rem;
    width: 20%;
}
.search-button:hover {
    background: rgb(5, 5, 77);
}
.navbar .hover:hover{
    color: rgba(17, 1, 53, 0.866);
    font-weight: 900;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.courses{
    min-height: 85vh;
    padding-bottom: 7rem;
}
.courses h2{
    margin-bottom: 5rem;
}
.courses .courses-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.courses-container .courses-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}
.courses-container .courses-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.courses-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.courses-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}
.courses-box:hover h3{
    color: var(--main-color);
}
.courses-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
@media(max-width:1050px){
    html{
        font-size: 40%;
    }
    .navbar a{
        font-size: 2.3rem;
    }
    .navbar a span{
        font-size: 2.3rem;
    }
    .logo{
        font-size: 3rem;
    }
    .home{
        font-size:4.2rem ;
        top: 50%;
        overflow: hidden;
        pointer-events: none;
    }
    .home-content h3{
        font-size: 3rem;
    }
    .home-content h1{
        font-size: 6rem;
    }
    .search{
        width: 60vw;
        height: 10vh;
        
    }
    .search-input {
        width: 50%;
        height: 6rem;
    }
    .search-button {
        width: 17%;
        height: 6rem;
        top: 2px;
        left: 40%;
    }
    #darkMode-icon{
        font-size: 3.5rem;
    }
}
@media(max-width:798px){
    html{
        font-size: 30%;
    }
    .image{
        display: none;
    }
    .search{
        width: 60vw;
        height: 10vh;
        
    }
    .search-input {
        width: 70%;
        height: 8rem;
    }
    .search-button {
        width: 22%;
        height: 8rem;
        top: -0.5px;
        left: 50%;
    }
    .home-content h3{
        font-size: 3.5rem;
    }
    .home-content h1{
        font-size: 5.5rem;
    }
    #menu{
        display: block;
        cursor: pointer;
        font-size: 6rem;
        color: var(--text-color);
    }
    #darkMode-icon{
        font-size: 5rem;
        padding-right: 4%;
    }
    .logo{
        font-size: 5rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }
    .navbar.hover{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 3rem;
        margin: 3rem 0;
        
    }
    a.btn2{
        font-size: 11.04px;
    }
    .btn2{
        width: 70.68px;
        height: 26.5px;
        
    }
    .header{
        padding-top: 5%;
    }
}
@media(max-width:425px){
    .search{
        width: 80vw;
        height: 10vh;
    }
    .search-input {
        width: 70%;
        height: 8rem;
    }
    .search-button {
        width: 25%;
        height: 8rem;
    }
    .home-content h1{
        font-size: 6rem;
    }
}
@media(max-width:376px){
    html{
        font-size: 30%;
    }
    .search{
        width: 80vw;
    }
}